<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsl.erp.mapper.XslAccountMapper" >
<insert id="insert" parameterType="xsl.erp.pojo.XslAccount">
    INSERT INTO xsl_account (accountId,totalUser,newUser,totalTask,newTask,totalMoney,newMoney,totalDoneTask,newDonetask)
    VALUES (#{accountId},#{totalUser},#{newUser},#{totalTask},#{newTask},#{totalMoney},#{newMoney},#{totalDoneTask},#{newDoneTask})
</insert>
    <select id="selectLastOne" resultType="xsl.erp.pojo.XslAccount">
        select * from xsl_account  ORDER BY id DESC LIMIT 1;
    </select>
<select id="selectAll" parameterType="xsl.erp.pojo.XslAccount" resultType="xsl.erp.pojo.XslAccount">
    select * from xsl_account
</select>
</mapper>