<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsl.erp.mapper.XslExtendMapper" >
  <select id="getUserNameByHunterId" parameterType="INTEGER" resultType="String">
    select
    name
    from xsl_user
    where
    hunterid = #{hunterId,jdbcType=INTEGER}
  </select>
  <select id="getUserNameByMasterId" parameterType="INTEGER" resultType="String">
    select
    name
    from xsl_user
    where
    masterid = #{masterId,jdbcType=INTEGER}
  </select>
</mapper>